In [ ]:
Q1. Write a program to accept percentage from the user and display the grade according to the following criteria:
    Marks           Grade
    >90             A
    >80 and <=90    B
    >=60 and <=80   C
    below 60        D

In [1]:
percentage = int(input("Enter your percentage = "))
if percentage > 90 :
    print("Grade  A")
elif percentage > 80 and percentage <= 90 :
    print("Grade  B")
elif percentage >=60 and percentage <= 80 :
    print("Grade  C")
else :
    print("Grade  D")

Enter your percentage =  95

Grade  A

In [ ]:
Q2. Write a Program to accept the cost price of a bike and display the road tax to be paid according to the following criteria:
    Tax     Cost Price(in Rs)
    15%     >100000
    10%     >50000 and <=100000
    5%      <=50000

In [4]:
cost = int(input("Enter the cost price of a bike = "))
if cost >100000 :
    tax = 0.15 * cost
elif cost > 50000 and cost <=100000 :
    tax = 0.1 * cost
else :
    tax = 0.05 * cost
print("The Road tax to be paid is = ",tax)

Enter the cost price of a bike =  75000

The Road tax to be paid is =  7500.0

In [ ]:
Q3. Accept any city from the user and diaplay monuments of that city.
    City       Monument
    Delhi      Red Fort
    Agra       Taj Mahal
    Jaipur     Jal Mahal

In [6]:
city = input("Enter a city Delhi , Agra , Jaipur = ")
if city == "Delhi" :
    print("The Monument of the Delhi is Red Fort")
elif city == "Agra" :
    print("The Monument of the Agra is Taj Mahal")
elif city == "Jaipur" :
    print("The Monument of the Jaipur is Jal Mahal")

Enter a city Delhi , Agra , Jaipur =  Agra

The Monument of the Agra is Taj Mahal

In [ ]:
Q4. Check how many times a given number can be divided by 3 before it is less then or equal to 10.

In [16]:
num = int(input("Enter a Number = "))
count = 0
while num > 10:
    num = num/3
    count += 1
print("The given number can be divided by 3 before it is less then or equal to 10  is =  ",count)

Enter a Number =  90

The given number can be divided by 3 before it is less then or equal to 10  is =   2

In [ ]:
Q5. Why and when to Use while loop in Python give a detailed description with example.

In [ ]:
Ans. The "while" loop is a control flow structure in Python that allows you to repeatedly execute a block of code as long as a given condition is true.
     for Example :

In [17]:
##print a number 1 to 10
count=1
while count<=10:
    print(count)
    count += 1

1
2
3
4
5
6
7
8
9
10

In [ ]:
Q6. Use nested while loop to print 3 different pattern.

In [3]:
rows = 5
i = 1
while i <= rows:
    j = 1
    while j <= i:
        print("*",end="")
        j += 1
    print(" ")
    i += 1

*
**
***
****
*****

In [4]:
rows = 5
i = 1
while i <= rows:
    j = 1
    while j <= rows:
        print("*", end="")
        j += 1
    print(" ")
    i += 1

*****
*****
*****
*****
*****

In [6]:
rows = 5
i = 1
while i <= rows:
    j = 1
    while j <= i:
        print(j,end="")
        j += 1
    print(" ")
    i += 1

1
12
123
1234
12345

In [8]:
rows = 5
i = 1
while i <= rows:
    j = 1
    while j <= i:
        print(i,end="")
        j += 1
    print(" ")
    i += 1

1
22
333
4444
55555

In [19]:
i=5
while i>=1:
    print(i * "*")
    i -= 1

*****
****
***
**
*

In [20]:
i=1
j=5
while i<=5:
    print(j * "*")
    i += 1

*****
*****
*****
*****
*****

In [ ]:
Q7. Reverse a while loop to display number from 10 to 1.

In [21]:
count = 10
while count >= 1:
    print(count)
    count -= 1

10
9
8
7
6
5
4
3
2
1

In [ ]:
Q8. Reverse a while loop to display number from 10 to 1.

In [22]:
count = 10
while count >= 1:
    print(count)
    count -= 1

10
9
8
7
6
5
4
3
2
1

In [ ]:
Q8. Reverse a for loop to display number from 10 to 1.

In [9]:
for i in reversed(range(1, 11)):
    print(i)

10
9
8
7
6
5
4
3
2
1